form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 20px 0 20px 10px;

    border: 1px solid blue;
  }

  .focused_color {
    background: dodgerblue;
  }