.posts,.form{
    width: 35rem;
}
.posts{
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 1.5rem;
}
.form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}