#inputs-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  label {
    display: flex;
    flex-direction: row;
  }

  span {
    display: block;
    background-color: rgb(171, 171, 171);
    height: 20px;
    min-width: 40px;
    width: auto;
    max-width: 60px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
  }